@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black : hsla(0, 0%, 0%, 0.7);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

body {
	background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.menu {
    background: var(--White);
    position: absolute;
    top: 0;
    left: -800px;
    width: 50%;
    height: 100vh;
    padding: 30px;
    transition: 0.3s;
}

.menu img {
    cursor: pointer;
}

ul {
    margin-top: 30px;
}

li {
    list-style: none;
    margin-bottom: 15px;
}

li a {
    color: var(--Very-dark-blue);
    text-decoration: none;
}

.menu-logo-container img {
    margin-right: 10px;
    cursor: pointer;
}
.cart-dp-container {
    display: flex;
}
.cart-dp-container img {
    margin-left: 15px;
    cursor: pointer;
}

.cart {
    background: url("images/icon-cart.svg") center center /cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.cart-items {
    background: var(--Orange);
    color: var(--White);
    font-size: 7px;
    font-weight: bold;
    padding: 1px 5px;
    float: right;
    border-radius: 8px;
}

.avatar {
    height: 30px;
    border: 2px solid transparent;
    border-radius: 50%;
}

.avatar:hover{
    border: 2px solid var(--Orange);
}

.dropdown-container {
    background: var(--White);
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 20px;
    width: 95%;
    min-height: 220px;
    border-radius: 8px;
}

.flex {
    display: flex;
}

.none {
    display: none;
}

.dropdown-container h3 {
    width: 100%;
    padding: 20px 0 25px 20px; 
    border-bottom: 1px solid var(--Grayish-blue);
}

.dropdown-container p {
    color: var(--Dark-grayish-blue);
    line-height: 1.5;
}

#empty {
    display: block;
    text-align: center;
    width: 100%;
    padding: 12px;
}

.dropdown-container .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 15px 15px; 
}

.dropdown-container .item .thumbnail1 {
    height: 50px;
    margin: 0;
    border-radius: 6px;
}

.dropdown-container .item .delete {
    align-self: center;
}

.dropdown-container button {
    background: var(--Orange);
    color: var(--White);
    font-weight: bold;
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 8px;
}

.dropdown-container button:hover {
    background: hsl(26, 97%, 70%);
}

.main-container {
    display: flex;
    flex-direction: column;
}

.product-image {
    background: url("images/image-product-1.jpg") no-repeat center center /cover;
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px; 
    transition: 0.3s;
}

.arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    background: var(--White);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.product-info {
    padding: 20px;
}

h2 {
    color: var(--Very-dark-blue);
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

h4 {
    color: var(--Orange);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.paragraph {
    color: var(--Dark-grayish-blue);
    font-size: 16px;
    margin-bottom: 30px;
}

.price-tag-container {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
}

.price-percent-cont {
    display: flex;
}

.current-price {
    color: var(--Very-dark-blue);
    font-size: 30px;
    font-weight: 500;
    margin-right: 5px;
}

.percentage-diff {
    background: var(--Pale-orange);
    color: var(--Orange);
    padding: 5px;
    align-self: center;
    border-radius: 8px;
}

.old-price {
   color: var(--Dark-grayish-blue);
    width: 50%;
    text-align: right;
    text-decoration: line-through;
    font-size: 16px;
    align-self: center;
}

.quanitity-container {
    background: var(--Light-grayish-blue);
    color: var(--Very-dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.quanitity-container #minus:hover use{
    fill: hsl(26, 97%, 70%); 
    cursor: pointer;
}

.quanitity-container #plus:hover use {
    
    fill: hsl(26, 97%, 70%); 
    cursor: pointer;
}

.add-btn {
    background: var(--Orange);
    color: var(--White);
    font-size: bold;
    font-size: 16px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 15px hsla(26, 100%, 55%, 0.5);
}

.add-btn svg {
    margin-right: 10px;
}
.product-thumbnail {
    display: none;
}

.lightbox-section{
    position: absolute;
    top: -1000px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin: 10px 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 799px) {
 
    .container {
        width: 80%;
    }
    
    .nav-bar {
        border-bottom: 1px solid var(--Grayish-blue);
        margin-bottom: 60px;
        padding: 0px 0 0 0;
    }

    .menu {
        display: flex;
        align-items: center;
        position: static;
        margin: 10px 0 0 0;
        padding: 0;
        height: 100%;
        width: 70%;
    }

    .menu ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: auto 0;
        width: 60%;
    }
        
    .menu ul li {
        margin: 25px 10px 0 0;
        padding-bottom: 30px;
        border-bottom: 4px solid rgba(255, 255, 255, 0);
    }
    
    .menu ul li:hover {
        border-bottom: 4px solid var(--Orange);

    }
    
    .cart-dp-container img {
        margin-left: 20px;
    }

     .open-menu, .menu img {
        display: none;
    }

    .dropdown-container {
        top: 11%;
        left: 60%;
        padding: 10px;
        width: 35%;
        font-size: 16px;
        box-shadow: 0px 25px 43px -13px rgba(0,0,0,0.3);
    }

    .main-container {
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
    }

    .product-section {
        width: 35%;
    }
    
    .product-image {
        height: 48vh;
        border-radius: 8px;
    }

    .product-image .arrows .arrow {
        display: none;
    }

    .product-thumbnail {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 20px 0px 0 0;
    }
    
    .product-thumbnail div {
        width: 20%;
        border-radius: 8px;
    }

    .product-thumbnail img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }

    .product-thumbnail img:hover {
        opacity: .6;
        cursor: pointer;
    }
        
    .product-info {
        padding: 35px 0 0 0;
        margin-left: 10px;
        width: 55%;
    }

    .product-info h2 {
        font-size: 30px;
    }

    .price-tag-container {
        flex-direction: column;
    }

    .price-percent-cont {
        display: flex;
        margin-bottom: 10px;
    }
    
    .percentage-diff {
        margin-right: 50px;
    } 
    
    .old-price {
        text-align: left;
       width: 100%;
    }

    .quant-btn-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .quant-btn-container .quanitity-container {
        width: 40%;
    }

    .quant-btn-container .add-btn {
        width: 58%;
        padding: 10px;
        margin-bottom: 10px;
    }

    .quant-btn-container .add-btn:hover {
        background: hsl(26, 97%, 70%);
    }

    .lightbox-section {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin: auto;
        width: 100%;
        height: 100vh;
	z-index:10;
    }

    .lightbox-section .lightbox-image {
        background: url("images/image-product-1.jpg") no-repeat top center /cover;
        height: 60vh;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        margin-bottom: 20px; 
        box-shadow: 0 0 0 500px rgba(0,0,0,0.54);
        position: relative;
        transition: 0.3s;
    }
    
    .lightbox-section #close-lightbox {
        position: absolute;
        top: -10%;
        left: 97%;
        width: 100%;
        cursor: pointer;
    }

    .lightbox-image .arrows {
        width: 110%;
    }

    .lightbox-image .arrows div {
        background: var(--White);
        padding: 15px 17px;
        border-radius: 50%;
        cursor: pointer;
    }

    .lightbox-image .arrows div:hover svg path {
        stroke: var(--Orange);
    }

    .lightbox-thumbnail-cont {
        position: absolute;
        bottom: 5%;
    }

    .lightbox-section .lightbox-thumbnail-cont {
        display: flex;
        justify-content: space-between;
        width: 35%;
    }

    .lightbox-thumbnail-cont div {
        background: #fff;
        height: 75px;
        border-radius:9px;
    }

    .lightbox-thumbnail-cont div img {
        height: 100%;
        border-radius: 7.5px;
    }

    .lightbox-thumbnail-cont div img:hover {
        cursor: pointer;
        opacity: .4;
    }    

    .attribution { 
        margin: 50px 0 10px;
    }

    .border {
        border: 2px solid var(--Orange);
    }
    
    .opacity {
        opacity: .3;
    }

}
